<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Login.css">
    <title>Login_DCU</title>
</head>
<body>
    <div class="logo">
        <img src="DCU_logo.png">
        <div class="links">
            <a href="#">대표홈페이지</a>
            <a href="#">학생지원포털</a>
        </div>
    </div>

    <div class="container-login" id="container-login">
        <form>
            <h1>로그인</h1>
            <div class="login">
                <div class="input">
                    <input type="id"
                    placeholder="아이디를 입력하세요.">
                </div>
                <div class="input">
                    <input type="password"
                    placeholder="비밀번호를 입력하세요.">
                </div>
            </div>
            <a href="#">수강신청 바로가기</a>
        </form>
    </div>

    <script src="Login_script.js"></script>
</body>
</html>