.student_lecture {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }

.student_lecture th,
.student_lecture td {
    width: calc(100% / 8);
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    text-align: center;
}

.lecture_table_container {
    width: 95%;
    margin: 0 auto;
    max-height: 400px;
    overflow: auto;
}